[run]
# omit anything in a virtualenv directory anywhere
omit = /home/travis/virtualenv/*
source = /home/travis/build/ikostan/Build_Backend_REST_API_with_Python_and_Django/app
parallel = False
data_file = /home/travis/build/ikostan/Build_Backend_REST_API_with_Python_and_Django/app/.coverage

[paths]
source =
  /home/travis/build/ikostan/Build_Backend_REST_API_with_Python_and_Django
  /app/